<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
        <form name="myForm" novalidate>
            <label>Interesse(e) par :</label><br/>
            <input name="reponse" value="femme" type="radio" ng-model="sexe.name" radio required>&nbsp;Les femmes<br/>
            <input name="reponse" value="homme" type="radio" ng-model="sexe.name"radio required>&nbsp;Les hommes<br/>
            <br/>
            Quel est votre centre d'interet principale ?<br/>
            <select name="centreInteret">
                <option ng-repeat="ci in CentreInterets" value="{{ci.centreInteret}}">{{ci.centreInteret}}</option>
            </select>
            <a href="/#/geeks/{{sexe.name}}/1" class="btn btn-primary">Rechercher votre ame soeur !</a>
            kkkkkoooo
        </form>
    </div>
</div>