.center
{
    text-align: center;
}

.article
{
    height:40%;
    margin:20px;
    margin-bottom: 20px;
    background-color:white;
    padding:0px;
    border-radius:10px;
    min-width: 200px;
    border:solid 3px #0080c0;
}
.article-content
{
    padding:20px;
    font-size: 16px;
    color:#434744;
}
.article-header
{
    padding:20px;
    color:rgb(255,255,255);
    background-color:#0080c0;
    font-size:24px;
}

h1
{
    color:#0080c0;
}
