.center
{
    text-align: center;
}

.article
{
    height:40%;
    margin:20px;
    margin-bottom: 20px;
    background-color:white;
    padding:0px;
    border-radius:10px;
    min-width: 200px;
    border:solid 3px #0080c0;
}
.article-content
{
    padding:20px;
    font-size: 16px;
    color:#434744;
}
.article-header
{
    padding:20px;
    color:rgb(255,255,255);
    background-color:#0080c0;
    font-size:24px;
}
.grad {
    background: -webkit-linear-gradient(white, #0080c0) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #0080c0) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #0080c0) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, #0080c0) fixed; /* Standard syntax */
}

h1
{
    font-size:64px;
    text-align: center;
    color:#0080c0;
}

.formulaire
{
    position: absolute;
    top:50%;
    left:30%;
    text-align: center;
    padding:20px;
    color:#0080c0;
    background-color:rgb(255,255,255);
    font-size:24px;
    border-radius:10px;
    border: 2px solid #0080c0;
}
